@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: normal;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner .videoBG{
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

.register{
    position: absolute;
    width: 33%;
    min-width: 45rem;
    min-height: 45rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(38, 40, 140, 0.5), rgba(88, 122, 156, 0.4));
    border-radius: 1rem;
    border: 1px solid #fff;
}

.register h2{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 2rem;
}

form#register{
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
}

.input-box{
    width: 100%;
}

.input-box input{
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 2.5rem 0;
    border: 2px solid #ddd;
    outline: none;
    background-color: #fff;
    color: black;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.input-box input:focus{
    color: #fff;
    background-color: steelblue;
    opacity: 0.35;
    border-color: #fff;
}

.register .buttons{
    display: flex;
    justify-content: space-around;
}

.register .buttons input{
    width: 35%;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    padding: 1rem;
    background-color: #3f51b5;
    border: none;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

.register .buttons input:hover{
    background-color: #283593;
}
